<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">Cosm Games</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
  {{ range .Site.Params.menu }}
        <li><a href="{{ .url }}">{{ .title }}</a></li>
  {{ end }}
      </ul>

      <ul class="nav navbar-nav navbar-right small">
  {{ range .Site.Params.contact }}
  {{ if ne .title "Email" }}
        <li><a href="{{ .url }}">{{ .title }}</a></li>
  {{ end }}
  {{ end }}
      </ul>
    </div>
  </div>
</nav>
